/* Garantir que html e body ocupem toda a altura */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
  }
  
  /* Configurar o root div para ocupar 100% da altura */
  #root {
	height: 100%;
  }
  
  /* Configurar o body e main para ocupar a altura total */
  body {
	display: flex;
	flex-direction: column;
  }
  
  /*main {
	flex: 1; /* Faz o main crescer para ocupar o espaço restante */
	/*display: flex;
	flex-direction: column;
  }*/
  